.carousel-inner img {
  margin: auto;
}

.navbar {
  background-color: white;
}

.top-nav {
  text-align: center;
  background: linear-gradient(#7EE8D4,#87E1DE);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(#7EE8D4,#82BDFC,#82BDFC);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: white;
}

.bottom-nav {
  background: linear-gradient(#5ED8D2,#82BDFC);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
